<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>NSTimer</string>
		<key>sectionArr</key>
		<array>
			<dict>
				<key>flag</key>
				<integer>0</integer>
				<key>class</key>
				<string>CollectionViewController</string>
				<key>title</key>
				<string>NSTimer</string>
			</dict>
		</array>
	</dict>
    <dict>
        <key>sectionName</key>
        <string>NSURLSession</string>
        <key>sectionArr</key>
        <array>
            <dict>
                <key>flag</key>
                <integer>0</integer>
                <key>class</key>
                <string>URLSessionController</string>
                <key>title</key>
                <string>NSURLSession</string>
            </dict>
        </array>
    </dict>
</array>
</plist>
